<div class="mt-4">
  <h3>Đăng khóa học</h3>
  <form method="POST" action="/courses/store">
    <div class="form-group">
      <input type="text" class="form-control" id="name" name="name" placeholder="Tên khóa học">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="description" name="description" placeholder="Mô tả khóa học">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="image" name="image" placeholder="img address">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="videoId" name="videoId" placeholder="id video">
    </div>
    <button type="submit" class="btn btn-primary">Thêm khóa học</button>
  </form>
</div>